@media (min-width: 768px){.sidebar {width: 14rem!important;} ul#accordionSidebar{display: block !important;} } @media(max-width: 768px){input[type='number'].form-control {width: 95px;}table.table {display: block !important;overflow-x: auto;}  table#tableImages {display: inline-table !important;} } table.table {display: inline-table;}
@media(max-width: 395px){  .btn-group.pb-6.col-12.text-xs > a {font-size: 8px !important;}#menuMove {font-size: 8px !important;}div#infoMotorBlind {font-size: 12px;}table.table {font-size: 14px;}}input.form-control, select.form-control {min-width: 175px; max-width: 167px; float: right;}
.btnSetImage {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

@media(max-width: 680px){
  input#fileToUpload {
    width: 100%;
    font-size: 12px;
  }
  .btnSetImage {font-size: 12px;}
}

.table tbody {
    display: inline-table;
    width: 100%;
}

@media(max-width: 767px){
  #accordionSidebar.toggled {
    width: inherit !important;
    overflow: inherit !important;
  }
}

.table td{
  text-transform: capitalize;
}

.form-text.text-muted.small {
    text-transform: initial;
}
